@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


  * {
  box-sizing: border-box;
}
.root{
  display: flex;
  flex-direction: column;
  

}
.root header{
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  

}
.root h1{
  margin-top: 0;
margin-bottom: 0px;
margin-right: 20%;
color: orange;

}
.search{
  
  
  border: 2px solid #22254b;
  border-radius: 50px; 
 
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;

}
.search:focus{
  outline: none;
}

body{
  background-color: #22254b;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}



.movie-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 6rem;
}
.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}
.movie img{
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.movie-info h3{
  margin-right: 0;
}
.movie-over{
  background-color: white;
  color: #22254b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.6s ease-in-out;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}
.tag{
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}
.tag.green{
  color: rgb(67, 245, 67);
}
.tag.orange{
  color:orange;
}
.tag.red{
  color: red;
}